# This playbook configures user, sudo and SSH on debian based systems
- name: Play to manage user, sudo and ssh configuration
  tags: user,ssh
  hosts: all
  become: yes
  tasks:
  - name: Ensure sudo package is installed
    apt: 
      name: sudo
      state: present

  - name: Ensure defined user is present and member of sudo group
    user:
      name: '{{ user }}'
      state: present
      groups: sudo
      append: yes
      update_password: on_create
    when:
      user is defined

  - name: Ensure sudo group can become root without password
    lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
        validate: 'visudo -cf %s'

  - name: Copy sshd_config file to server
    copy:
      src: sshd_config
      dest: /etc/ssh/sshd_config

  - name: Copy SSH CA public key file to server
    copy:
      src: '{{ sshca_pubkey_file }}'
      dest: /etc/ssh/ssh-root-ca.pub
    when:
      sshca_pubkey_file is defined

  - name: Copy SSH CA host certificate file to server
    copy:
      src: '{{ sshca_host_certificate_file }}'
      dest: /etc/ssh/ssh_host_ecdsa_key-cert.pub
    when:
      sshca_host_certificate_file is defined

  - name: Ensure ssh is restarted and enabled on restart
    service:
      name: ssh
      state: started
      enabled: yes
