# This playbook configures default parameters on debian based systems
- name: Play to set locale
  tags: localtimezone
  hosts: all
  become: yes
  tasks:
  - name: Set locale to de_DE.UTF-8.
    community.general.locale_gen: name=de_DE.UTF-8 state=present

- name: Play to activate unattended-upgrades
  tags: unattended-upgrades
  hosts: all
  become: yes
  tasks:
  - name: Install unattended-upgrades package
    apt:
      name: unattended-upgrades
      state: present
  - name: Activate automatic unattended-upgrades by copying template file
    copy:
      src: /usr/share/unattended-upgrades/20auto-upgrades
      dest: /etc/apt/apt.conf.d/20auto-upgrades
      remote_src: yes
