# This playbook configures default parameters on debian based systems
- name: Play to set hostname according to inventory file
  tags: hostname
  hosts: all
  become: yes
  tasks:
    - name: Check /etc/hosts and replace hostnames
      replace:
        path: /etc/hosts
        regexp: "{{ ansible_hostname }}"
        replace: "{{ new_hostname }}"
      when:
        new_hostname is defined and new_domain is defined

    - name: Check /etc/hosts and replace domain
      replace:
        path: /etc/hosts
        regexp: "{{ ansible_domain }}"
        replace: "{{ new_domain }}"
      when:
        new_hostname is defined and new_domain is defined

    - name: Set hostname
      hostname:
        name: "{{ new_hostname }}"
      when:
        new_hostname is defined and new_domain is defined

    - name: Display reboot notification
      debug:
        msg: Please adjust hostname in inventory and reboot manually!
      when:
        new_hostname is defined and new_domain is defined

- name: Play to set locale and timezone
  tags: localtimezone
  hosts: all
  become: yes
  tasks:
  - name: Set locale to de_DE.UTF-8.
    community.general.locale_gen: name=de_DE.UTF-8 state=present
  - name: Set timezone to Europe/Berlin.
    community.general.timezone: name=Europe/Berlin

- name: Play to install and configure NTP
  tags: ntp
  hosts: all
  become: yes
  vars:
    ntp_server: [0.de.pool.ntp.org,1.de.pool.ntp.org,2.de.pool.ntp.org,3.de.pool.ntp.org]
    ntp_server_backup: [pool.ntp.org]
  tasks:
  - name: Install NTP package
    apt: name=ntp update_cache=yes state=present
  - name: Copy the ntp.conf template file, notify handler restart ntp
    template: src=ntp.conf.j2 dest=/etc/ntp.conf
    notify: restart ntp
  - name: Ensure ntp is started an enabled on restart.
    service:
      name: ntp
      state: started
      enabled: yes
  handlers:
  - name: restart ntp
    service: name=ntp state=restarted

- name: Play to activate unattended-upgrades
  tags: unattended-upgrades
  hosts: all
  become: yes
  tasks:
  - name: Install unattended-upgrades package
    apt:
      name: unattended-upgrades
      state: present
  - name: Activate automatic unattended-upgrades by copying template file
    copy:
      src: /usr/share/unattended-upgrades/20auto-upgrades
      dest: /etc/apt/apt.conf.d/20auto-upgrades
      remote_src: yes
