# This playbook configures SSH on debian based systems
- name: Play to manage user and ssh configuration
  tags: user,ssh
  hosts: all
  become: yes
  tasks:
  - name: Ensure user 'ecite' is present and member of sudo group
    user:
      name: ecite
      state: present
      groups: sudo
      append: yes
      update_password: on_create

  - name: Copy sshd_config file to server
    copy:
      src: sshd_config
      dest: /etc/ssh/sshd_config

  - name: Copy SSH CA public key file to server
    copy:
      src: '{{ sshca_pubkey_file }}'
      dest: /etc/ssh/ssh-root-ca.pub
    when:
      sshca_pubkey_file is defined

  - name: Copy SSH CA host certificate file to server
    copy:
      src: '{{ sshca_host_certificate_file }}'
      dest: /etc/ssh/ssh_host_ecdsa_key-cert.pub
    when:
      sshca_host_certificate_file is defined

  - name: Ensure ssh is restarted and enabled on restart
    service:
      name: ssh
      state: started
      enabled: yes
