---
- name: Copy SSH CA public key file to server
  copy:
    src: '{{ sshca_root_pubkey_file }}'
    dest: /etc/ssh/ssh-root-ca.pub

- name: Fetch ssh_host_ecdsa_key.pub from node for SSH CA cert issuing
  fetch:
    src: "/etc/ssh/ssh_host_ecdsa_key.pub"
    dest: "{{ sshca_host_pubkey_folder }}"
  when:
    sshca_host_pubkey_folder is defined #and sshca_host_certificate_file is undefined

- name: Copy SSH CA host certificate file to server
  copy:
    src: '{{ sshca_host_pubkey_cert_file }}'
    dest: /etc/ssh/ssh_host_ecdsa_key-cert.pub
  when:
    sshca_host_pubkey_cert_file is defined

- name: Create directory /etc/ssh/auth_principals
  file:
    path: /etc/ssh/auth_principals
    state: directory
    mode: '0755'

- name: Copy auth_principals file for {{ adminuser }} to server
  template:
    src: auth_principals.j2
    dest: /etc/ssh/auth_principals/{{ adminuser }}
  notify: "restart ssh server"

- name: Copy standard sshd_config file to server
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
  when: bastionhost != "yes"
  notify: "restart ssh server"

- name: Copy bastion host sshd_config file to bastion host
  template:
    src: sshd_config_bastion.j2
    dest: /etc/ssh/sshd_config
  when: bastionhost == "yes"
  notify: "restart ssh server"

- name: Ensure ssh is restarted and enabled on restart
  service:
    name: ssh
    state: started
    enabled: yes
