---
- name: Ensure sudo package is installed
  apt:
    name: sudo
    state: present

- name: Ensure "{{ adminuser }}" is present and member of sudo group
  user:
    name: '{{ adminuser }}'
    state: present
    groups: sudo
    append: yes
    update_password: on_create

- name: Ensure sudo group can become root without password
  lineinfile:
      path: /etc/sudoers
      state: present
      regexp: '^%sudo'
      line: '%sudo ALL=(ALL) NOPASSWD: ALL'
      validate: 'visudo -cf %s'
